<header class = "navbar navbar-custom">
	<%= link_to "QAengine", root_url, id: "logo" %>
	<nav>
		<ul class = "nav navbar-nav navbar-right navigation-list-menu">
			<li><%= link_to "Home", root_path, class: "navigation-list"%></li>
			<li><%= link_to "About Us", '#', class: "navigation-list"%></li>
			<li><%= link_to "Blogs", '#', class: "navigation-list"%></li>
			<li><%= link_to "Term", '#', class: "navigation-list"%></li>
			<li><%= link_to "Contact", '#', class: "navigation-list"%></li>
			<% if logged_in? %>
				<li><%= link_to "Profile", current_user, class: "navigation-list"%></li>
				<li><%= link_to "Logout", logout_path,method: "delete", class: "navigation-list"%></li>
				
			<% else %>
				<li><%= link_to "Login", login_path, class: "navigation-list"%></li>
			<% end %>
		</ul>
	</nav>
</header>