<ul class="leftnavbar">
	<% if logged_in? %>
		<li>
			<%= link_to root_url, class:"btn btn-primary ask-button-size" do%>
				<span class = "glyphicon glyphicon-plus"></span>
				<span class="ask-button-content">Ask Question</span>
			<% end %>
		</li>
	<% else %>
		<li>
			<%= link_to login_path, class:"btn btn-lg btn-primary ask-button-size" do%>
				<span class = "glyphicon glyphicon-plus"></span>
				<span class="ask-button-content">Ask Question</span>
			<% end %>
		</li>
	<% end %>
	<div class="horizontal-line-margin">
		<hr>
	</div>
	<li class="leftnavbar-lists mdl-button mdl-js-button mdl-js-ripple-effect tags-width">
		<span class="glyphicon glyphicon-question-sign glyphicons-color"></span>
		<%= link_to "Questions", '/questions', class: "leftnavbar-lists" %>
	</li>
	<li class="leftnavbar-lists mdl-button mdl-js-button mdl-js-ripple-effect tags-width">
		<span class="glyphicon glyphicon-tag glyphicons-color"></span>
		<%= link_to "Tags", '/tagcloud', class: "leftnavbar-lists"%>
	</li>
	<li class="leftnavbar-lists mdl-button mdl-js-button mdl-js-ripple-effect tags-width">
		<span class="glyphicon glyphicon-list glyphicons-color"></span>
		<%= link_to "Categories", '#', class: "leftnavbar-lists"%>
	</li> 
	<li class="leftnavbar-lists mdl-button mdl-js-button mdl-js-ripple-effect tags-width">
		<span class="glyphicon glyphicon-user glyphicons-color"></span>
		<%= link_to "Users", '#', class: "leftnavbar-lists"%>
	</li>
</ul>

<!-- *************************************************************************** -->