<%= provide(:title, "Login") %>
<h1 style="margin-left:42%;">Log in</h1>
<div class="jumbotron", style="margin:3%;">
  <div style="margin-left:25%;margin-right:25%;">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <span style="margin-left:4%;"><%= f.check_box :remember_me %>
        Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
      <p style="font-size: 100%;float:right;">New user? <%= link_to "Sign up now!", signup_path %></p>
    <% end %>
  <p class="clearme-right"></p>
  </div>
</div>