<% provide(:title, "Sign Up") %> 

<h1 style="margin-left:38%;">Sign Up Now</h1>
<div class="jumbotron", style="margin:3%;">
  <div style="margin-left:25%;margin-right:25%;">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
    		
			<%= f.label :name, "Enter your name"%>
			<%= f.text_field :name, class: "form-control"%><br>
			<%= f.label :email%>
			<%= f.text_field :email, class: "form-control"%><br>
			<%= f.label :institution, "Institution Name"%>
			<%= f.text_field :institution, class: "form-control" %><br>
			<%= f.label :city, "City"%>
			<%= f.text_field :city, class: "form-control" %><br>
			<%= f.label :state, "State"%>
			<%= f.text_field :state, class: "form-control" %><br>
			<%= f.label :password%>
			<%= f.password_field :password, class: "form-control"%><br>
			<%= f.label :password, "Confirm Password"%>
			<%= f.password_field :password, class: "form-control"%><br>
			<%= f.submit "Create my account", class:"btn btn-primary"%>
	<% end %>
  <p class="clearme-right"></p>
  </div>
</div>